################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SimpleWebApp/.vs
/SimpleWebApp/SimpleWebApp/bin/Debug/netcoreapp2.0
/SimpleWebApp/SimpleWebApp/obj
