################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SimpleWebApp/.vs
/SimpleWebApp/SimpleWebApp/bin/Debug/netcoreapp2.0
/SimpleWebApp/SimpleWebApp/obj
/dotNetBasics/.vs/dotNetBasics/v15
/dotNetBasics/dotNetBasics/obj/Debug
/dotNetBasics/dotNetBasics/bin/Debug
/csharpTasks/task1/MyVector/.vs/MyVector/v15
/csharpTasks/task1/MyVector/MyVector/bin/Debug
/csharpTasks/task1/MyVector/MyVector/obj/Debug
/dotNetBasics/Classes/bin/Debug
/dotNetBasics/Classes/obj/Debug
