################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SimpleWebApp/.vs
/SimpleWebApp/SimpleWebApp/bin/Debug/netcoreapp2.0
/SimpleWebApp/SimpleWebApp/obj
/dotNetBasics/.vs/dotNetBasics/v15
/dotNetBasics/dotNetBasics/obj/Debug
/dotNetBasics/dotNetBasics/bin/Debug
/csharpTasks/task1/MyVector/.vs/MyVector/v15
/csharpTasks/task1/MyVector/MyVector/bin/Debug
/csharpTasks/task1/MyVector/MyVector/obj/Debug
/dotNetBasics/Classes/bin/Debug
/dotNetBasics/Classes/obj/Debug
/MVC/.vs
/MVC/MVC/bin/Debug/netcoreapp2.0
/MVC/MVC/obj
/dotNetBasics/GenericsCollections/bin/Debug
/dotNetBasics/GenericsCollections/obj/Debug
/dotNetBasics/packages/System.ValueTuple.4.5.0
/csharpTasks/task2/Factory/.vs/Factory/v15
/csharpTasks/task2/Factory/Factory/obj/Debug
/csharpTasks/task2/Factory/Factory/bin/Debug
/dotNetBasics/DummyCalculator/bin/Debug
/dotNetBasics/DummyCalculator/obj/Debug
/dotNetBasics/DummyCalculator.Tests/bin/Debug/netcoreapp2.1
/dotNetBasics/DummyCalculator.Tests/obj/Debug/netcoreapp2.1
/dotNetBasics/DummyCalculator.Tests/obj
/csharpTasks/task3/DelegatesApp/DelegatesApp/bin/Debug/netcoreapp2.1
/csharpTasks/task3/DelegatesApp/.vs/DelegatesApp/v15
/csharpTasks/task3/DelegatesApp/DelegatesApp/obj
/csharpTasks/task3/DelegatesApp/DelegatesApp.Test/bin/Debug/netcoreapp2.1
/csharpTasks/task3/DelegatesApp/DelegatesApp.Test/obj/Debug/netcoreapp2.1
/csharpTasks/task3/DelegatesApp/DelegatesApp.Test/obj
